.progressbar {
  width: 100%;
}

.progressbar .inner {
  height: 10vh;
  animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 30s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}

@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: rgb(46, 95, 255);
  }

  100% {
    width: 0%;
    background: rgb(255, 45, 133);
  }
}

#styleGame{
  display: flex;
  width: 100%;
  justify-content: center;
}
.btmScrn {
  bottom: 10%;
}

.startCount {
  width: 100%;
  height: 100vh;
  background-image: url('/images/welcomeImg.png');
  background-size: cover;
  display: flex;
  justify-content: left;
  padding-left: 10%;
  padding-top: 5%;
}

.numbers{
  font-size: 400px;
  width: 50%;
}

#goBackRules{
  margin-left: 5%;
  width: 10%;
  margin-top: -3%;
  font-size: 25px;
  font-weight: bold;
}

.slidecontainer {
  width: 50%;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: ivory;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

button {
  padding: 7%;
  border: transparent;
  background-color: transparent;
}

.homePgBtn{
  margin-bottom: 3%;
  margin-left: 5%;
}
#getStarted {
  margin-left: 5%;
  margin-top: -16%;
}

.hidden {
  display: none;
}

#playerInput2 {
  transform: rotate(180deg);
}

.generatedPattern {
  padding: 10px;
  width: 125px;
  height: 125px;
  margin: 3%;
}

.oneShape{
  margin-top: -20%;
  margin-bottom: 23%;
}
.twoShape{
  margin-top: -20%;
  margin-bottom: 23%;
}

.removable{
  width: 110px;
  height: 110px;
}

.circleBtnOne {
  background-image: url('/images/playerOneBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.circleBtnTwo {
  background-image: url('/images/playerTwoCircleBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.squareBtnOne {
  background-image: url('/images/playerOneSqBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.squareBtnTwo {
  background-image: url('/images/playerTwoSqBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.triangleBtnOne {
  background-image: url('/images/playerOneTriBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.triangleBtnTwo {
  background-image: url('/images/pleyerTwoTriBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.circle {
  background-image: url('/images/circlePlayingShape.png');
  background-position: 50% 50%;
  background-size: cover;
}

.triangle {
  background-image: url('/images/trianglePlayingShape.png');
  background-position: 50% 50%;
  background-size: cover;

}

.square {
  background-image: url('/images/squarePlayingShape.png');
  background-position: 50% 50%;
  background-size: cover;
}


.onScreen {
  display: none;
}

#gameOverPg {
  width: 100%;
  height: 100vh;
  background-color: rgb(54, 54, 54);
  background-image: url('/images/gameOverPg.png');
  background-size: cover;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gameOverInfo{
  width: 30%;
  height: 30vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 3%;
}

.ruleWords{
  margin-left: 10%;
  
}
.gameScreen {
  width: calc(100%/3);
  height: 90vh;
  background-color: ivory;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#patternGenerator{
  border-left: 10px #ff9433 dashed;
  border-right: 10px #ff9433 dashed;
}

#backHomeBtn{
  width: 15%;
  bottom: 0%;
}

.dispScore {
  margin-top: 5%;
  width: 25%;
  height: 13%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  
  transform: rotate(90deg);
  border: 4px #ff9433 solid;
  background-color: rgb(255 212 174);
  border-radius: 5%;
  color: #ff6818;
}

#genCircleId{
  background-image: url('/images/circleGenerated.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
}
#genSquareId{
  background-image: url('/images/generatedSquare.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
}
#genTriId{
  background-image: url('/images/generatedTriangle.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 25px;
}

.settingPgBtns{
  margin-right: 3%;
  margin-top: 3%;
  padding: 11vh;
}

button:active {
  transform: scale(0.9);
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pages {
  display: flex;
  width: 300%;
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s;
}

#welcomeUser {
  background-image: url('/images/titlePage.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#settingsBtns{
  display: flex;
  width: 100%;
  justify-content: right;
  height: 100%;
  align-items: center;
  padding-right: 5%;
  box-sizing: border-box;
}

#homePg {
  background-image: url('/images/homePageImg.png');
  background-size: cover;
}

#settingsPg {
  background-image: url('/images/settingsImg.png');
  background-size: cover;
}

#rulesPg {
  background-image: url('/images/rulesImg.png');
  background-size: cover;
}